* {
    cursor: crosshair;
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 10px; */
    background-color: gainsboro;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: #212529;
}

/*============= NAVIGATION =============*/

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);

}

.navbar img {
    height: 4rem;
}

.nav-link {
    color: gainsboro !important;
    border: 2px solid #212529;
}

.nav-link.active,
.nav-link:hover {
    color: red !important;
    border: 2px solid #717171;
}

#downloadResume:hover{
    /* color: red !important; */
    background-color: #717171;
}

/* counter css */

.countup {
    text-align: center;
    margin-bottom: 20px;
}

.countup .timeel {
    display: inline-block;
    padding: 10px;
    background: #151515;
    margin: 4px;
    color: white;
    min-width: 2.6rem;
    /* margin-left: 13px; */
    border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: #e8c152;
    color: black;
}

/* landing animation css */
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(233, 233, 233);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}

.text {
    font-size: 7rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

/* Landing Page */

.landing-page {
    height: 100%;
}

.center {
    padding: 10%;
}

.landing-page .title {
    font-size: 5rem;
}

.landing-page .subtitle {
    font-size: 3rem;
}

.aboutImage {
    height: 100vh;
}

.landing-page-text{
    justify-content: center;
    align-items: center;
}

/* technical skills */

.badgeSkills {
    background-color: beige;

}

.container .card {
    padding-top: 20px;
    padding-bottom: 20px;

    align-items: center;

}

.container .card .circle {
    position: relative;
    border-radius: 50%;
}

.card .circle .box,
.card .circle .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle .box {
    /* height: 100%;
    width: 100%; */
    background: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}


.circle .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

.card .text {
    font-size: 20px;
    font-weight: 600;
}

/*============= Qualification =============*/

.qualification {
    background-color: beige;

}

.qualification img {
    width: 200px;
    height: 200px;
    text-align: center;

}


/*============= Acheivments =============*/

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    height: 400px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 150px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #212529;
    /* border: 1px solid #717171; */
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}

/*============= Career =============*/

.career {
    background-color: beige;

}


/*============= FOOTER =============*/

footer {
    background-color: #383838;
}

footer img {
    padding-bottom: 1rem;
    margin: auto;
}

footer p,
footer a,
.socket a {
    color: white;
    text-decoration: none;
}

ul.social {
    list-style: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0%;
}

ul.social li {
    margin: auto;
}

/*============= SOCKET =============*/

.socket {
    background-color: #212529;
    border-top: .1rem solid;
}